/* style.css */

body {
  background-color: rgb(87, 82, 82);
  color: burlywood;
  margin: 0;
  padding: 20px;
}

h1 {
  color:brown;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgb(117, 116, 113);
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#no-result {
  color:crimson;
  font-weight: bold;
  background-color: rgb(240, 192, 121);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  /* 기본: 숨김 처리 */
  display: none;
}